[user]
	email = pajamapants3000@gmail.com
	name = Tommy Lincoln

[credential "https://github.com/pajamapants3000"]
    username = pajamapants3000
	helper = cache --timeout=3600

[url "https://github.com/pajamapants3000/"]
    insteadOf = pj3k:
[url "http://bitbucket.org/pajamapants3000/"]
    insteadOf = bbpj3k:
[url "http://github.com/"]
    insteadOf = gh:
[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "ssh://git@git.kde.org/"]
    pushInsteadOf = kde:

[core]
	autocrlf = false
	filemode = false
    editor = vim
	excludesfile = $HOME/.gitignore

# *nix-specific settings

# Windows-specific settings
    #sshCommand = "\"C:\\Program Files\\PuTTY\\plink.exe\" -ssh -2 -batch -C"

[color]
	ui = true
[push]
	default = simple
